<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
    <table>
        <tbody>
        <!--<volist name="userList" id="list">-->
        <if condition="empty($team_list) eq true">
            <tr data-id="0">
                <td class="no-data" align="center" axis="col0" colspan="50">
                    <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                </td>
            </tr>
            <else/>
            <volist name="team_list" id="list">
                <tr data-id="{$list['user_id']}">
                    <td align="center" class="">
                        <label>
                            <div style="text-align: center; width: 50px;">
                                <input type="checkbox" name="selected[]" value="{$v['id']}">
                            </div>
                        </label>
                    </td>
                    <td align="left" class="">
                        <div style="text-align: center; width: 150px;">{$list.nickname}</div>
                    </td>
                    <td align="center" class="">
                        <div style="text-align: center; width: 150px;">{$list.level}</div>
                    </td>
                    <td align="left" class="">
                        <div style="text-align: center; width: 150px;">{$list.mobile}

                        </div>
                    </td>

                    <!--<td align="left" class="">-->
                    <!--<div style="text-align: center; width: 60px;">{$list.pay_points}</div>-->
                    <!--</td>-->
                    <td align="left" class="">
                        <div style="text-align: center; width: 150px;">{$list.createtime|date="Y-m-d H:i:s",###}</div>
                    </td>

                    <td align="" class="" style="width: 100%;">
                        <div>&nbsp;</div>
                    </td>
                </tr>
            </volist>
        </if>
        </tbody>
    </table>
</div>
<!--分页位置-->
{$show}

<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid >table>tbody>tr').click(function(){
            $(this).toggleClass('trSelected');
        });
        $('#user_count').empty().html("{$pager->totalRows}");
    });
    function delfun(obj) {
        // 删除按钮
        layer.confirm('确认删除？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data: {id : $(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    layer.closeAll();
                    if (data.status == 1) {
                        $(obj).parent().parent().parent().remove();
                    } else {
                        layer.alert(data.msg, {icon: 2});
                    }
                }
            })
        }, function () {
        });
    }
</script>